@model IEnumerable<Library.WebApplication.Models.PublishHouseViewModel>
@{
    ViewBag.Title = "Wydawnictwa";
}

<div class="btn-group mt-10" role="group">
    <button type="button" onclick="location.href='@Url.Action("Add", "PublishHouse")'" class="btn btn-success btn-lg" aria-haspopup="true" aria-expanded="false">
        @Html.Name("Dodaj wydawnictwo")
        <span class="glyphicon glyphicon-plus" style="padding-left:10px;"></span>
    </button>
</div>

<div class="row mt-20">
    <div class="col-sm-6">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @using (Html.BeginForm("Edit", "PublishHouse", new { id = item.Id }, FormMethod.Get, new { }))
                        {
                            <input type="submit" value="Edytuj" class="btn btn-default" />
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "PublishHouse", new { id = item.Id }, FormMethod.Post, new { }))
                        {
                            <input type="submit" value="Usuń" class="btn btn-danger" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
